.heading-primary {
    color: #fff;
    text-transform: uppercase;
    backface-visibility: hidden;
    margin-bottom: 6rem;

    &--main {
        display: block;
        font-size: 6rem;
        font-weight: 400;
        letter-spacing: 3.5rem;
        animation-name: moveInLeft;
        animation-timing-function: ease-out;
        animation-duration: 1s;
        @include respond(phone) {
            letter-spacing: 1rem;
            font-size: 5rem;
        }
    }
    
    &--sub {
        display: block;
        font-size: 2rem;
        font-weight: 700;
        letter-spacing: 1.75rem;
        animation: moveInRight 1s ease-out;

        @include respond(phone) {
            letter-spacing: .5rem;
        }
    }
}

.heading-secondary {
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: 700;
    display: inline-block;
    background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
    -webkit-background-clip: text;
    color: transparent;
    letter-spacing: .2rem;
    transition: all .2s;

    @include respond(tab-port) {
        font-size: 3rem;
    }

    @include respond(phone) {
        font-size: 2.5rem;
    }

    &:hover {
        transform: skewY(2deg) skewX(15deg) scale(1.1);
        text-shadow: .5rem 1rem 2rem rgba(0, 0, 0, .2);
    }
}

.heading-tertiary {
    font-size: $default-font-size;
    font-weight: 700;
    text-transform: uppercase;
}

.paragraph {
    font-size: $default-font-size;
    &:not(:last-child) {
        margin-bottom: 3rem;
    }
}

// 1.main font: Roboto Slab
// 2.title font: Osward
// 3.speacial title font: Dancing script

// font-size: 14px + main font + colors:(yellow + des + white)
.ar-text-info{
    font-size: rem(14px);
    &--yellow{
        color: $color-primary;
    }
    &--gray{
        color: $color-gray-dark;
    }
    &--white{
        color: $color-white;
    }
}

// font-size: 14px + main font + des color 
.ar-text-paragraph{
    font-size: rem(14px);
    color: $color-gray-dark;
    line-height: 1.8;
    &:not(:last-child){
        margin-bottom: rem(22px);
    }
}

//font-size: 20px + title font + colors:(white or black)
.ar-text-des{
    font-family: $font-osward;
    font-size: rem(20px);
    &--white{
        color: $color-white;
    }
    &--black{
        color: $color-gray-dark-3;
    }
}

//special title
.ar-heading{
    display: block;
    position: relative;
    text-transform: capitalize;
    line-height: 1.4;
    margin: 0;

    &-wrapper{
        margin-bottom: rem(60px);
    }

    &--style-1{
        font-family: $font-dancingscript;
        font-size: rem(38px);
        font-weight: 700;
        color: $color-primary;
        margin-bottom: 0;
        &.order{
            font-size: rem(33px);
        }
    }
    &--style-2{
        font-family: $font-osward;
        font-size: rem(24px);
        font-weight: 700;
        color: $color-gray-dark-3;
        margin-bottom: rem(20px);
        &.order{
            font-size: rem(28px);
        }
    }
    &--style-3{
        font-family: $font-robotoslabs;
        color: $color-white;
        font-size: rem(36px);
        text-transform: initial;
        &.order{
            font-size: rem(30px);
        }
    }
}

@include breakpoint(max-phone){
    .ar-heading--style-1{
        font-size: rem(28px);
        &.order{
            font-size: rem(28px);
        }
    }
    .ar-heading--style-2{
        &.order{
            font-size: rem(24px);
        }
    }
    .ar-heading--style-3{
        font-size: rem(20px);
        &.order{
            font-size: rem(20px);
        }
    }
    .ar-heading-wrapper{
        margin-bottom: rem(30px);
    }
}