// 1. section banner
.ar-banner{
    .ar-banner-title{
        font-family: $font-osward;
        font-size: rem(48px);
        font-weight: 700;
        line-height: 1.3em;
        letter-spacing: 2px;
        text-align: center;
        text-transform: capitalize;
        color: $color-white;
    }
    .ar-banner-text{
        font-size: rem(14px);
        font-weight: 400;
        line-height: 1.8em;
        color: $color-white;
        text-align: center;
    }
    .ar-btn--default{
        max-width: 165px!important;
        height: 50px!important;
        line-height: 50px!important;
        padding: 0 2.25rem!important;
    }
    .ar-banner-btn{
        color: $color-gray-dark-3;
    }
    &.ar-custom-revolution{
        .tparrows.preview3{
            background: transparent;
            border: 2px solid $color-white;
            &::after{
                color: $color-primary;
                background: transparent;
            }
        }
        .tp-bullets.preview3 .bullet{
            width: 10px!important;
            height: 10px!important;
        }
        .tp-bullets.preview3 .bullet:hover,
        .tp-bullets.preview3 .bullet.selected{
            background:$color-primary!important;
        }
    }
}
// 2. section about
.ar-about{
    .ar-about-left, .ar-about-right{
        height: 100%;
    }
}
// 2.1 Home 2
.ar-about{
    .ar-about-block{
        .row{
            margin-left: rem(-10px);
            margin-right: rem(-10px);
        }
        .col-image{
            padding-left: rem(10px);
            padding-right: rem(10px);
        }
    }
}
@media (min-width: 768px) and (max-width: 991px){
    .ar-about .ar-about-block .col-image img{
        margin-left: auto!important;
        margin-right: 0!important;
    }
}
@media (min-width: 576px) and (max-width: 767px){
    .ar-about .ar-about-block .col-md-down-mt{
        margin-top: 0;
    }
}
@include breakpoint(max-phone){
    .ar-about .ar-about-block .col-image img{
        width: 100%;
    }
}
// 3. section parallax image
// 4. section service
.ar-service-list{
    .ar-service-item{
        .ar-service-item-title{
            .ar-text-des{
                font-size: rem(22px);
            }
        }
    }
}
// 5. section menu
// 5.1 Home 1
.ar-page-home-1{
    .ar-menu{
        .ar-carousel{
            .owl-carousel{
                .owl-nav{
                    bottom: -80px;
                }
            }
        }
        .ar-menu-box-right{
            .ar-menu-heading{
                .ar-text-des{
                    font-size: rem(22px);    
                }
            }
        }
        .ar-menu-box{
            position: relative;
            border: 9px solid #bababa;
            &::before{
                position: absolute;
                content: '';
                left: 0px;
                top: 0px;
                width: 100%;
                height: 100%;
                background-color: rgba(13,13,13,0.80);
            }
            .ar-menu-box-inner{
                padding: rem(65px) rem(88px);
            }
        }
    }
}
@include breakpoint(laptop){
    .ar-page-home-1 .ar-menu .ar-menu-box .ar-menu-box-inner{
        padding: rem(65px) rem(55px);
    }
}
@include breakpoint(tablet){
    .ar-page-home-1 .ar-menu .ar-menu-box{
        border: none;
        &::before{background-color: transparent;}
    }
    .ar-page-home-1 .ar-menu .ar-menu-box .ar-menu-box-inner{
        padding: 0;
    }
}
// 5.2 Home 2, Home 3
.ar-page-home-3,
.ar-page-home-2{
    .ar-menu{
        .ar-menu-tab-wrapper{
            position: absolute;
            bottom: 0; left: 0; right: 0;
            display: flex;
            justify-content: center;
        }
    }
}
// 6. section special dishes
// 6.1 Home 1
.ar-sd{
    &-body-left{
        .inner-box{
            padding-right: rem(40px);
        }
    }
    &-body-right{
        .inner-box{
            padding-left: rem(40px);
        }
    }
}
@include breakpoint(laptop){
    .ar-sd{
        &-body-left{
            .inner-box{
                padding-right: 0;
            }
        }
        &-body-right{
            .inner-box{
                padding-left: 0;
            }
        }
    }
}
.ar-menu-table{
    background-image: url('../img/menu/bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    outline: 1px dashed #818181;
    outline-offset: rem(-30px);
    .ar-menu-table-inner{
        padding: rem(30px);
    }
    .ar-menu-table-title{
        font-size: rem(14px);
        color: $color-primary;
        height: 41px;
        line-height: 31px;
        background-image: url('../img/menu/title-bg.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }
    ul.menu-detail{
        & > li{
            display: flex;
            flex-direction: column;
            padding: 0 rem(15px);
            & + li{
                margin-top: rem(26px);
            }
        }
    }
    .contact{
        span{
            font-family: $font-dancingscript;
            font-size: rem(25px);
            color: $color-primary;
        }
    }
}
// 6.2 Home 2
@include breakpoint(tablet){
    .ar-page-home-2{
        .ar-sd{
            .ar-menu-list.ar-menu-list-col{
                .ar-menu-item{
                    &--image{
                        img{
                            width: 100%;
                        }
                    }
                }
            }
        }
    }    
}
// 6.3 Home 3
.ar-sd{
    .ar-sd-title{
        font-size: rem(24px);
        color: $color-white;
    }
    .ar-carousel .owl-carousel .owl-nav{
        top: -43px;
        right: 0;
        left: auto;
    }
    .ar-parallax .ar-parallax-wrap--holder::after{
        background-color: rgba(13,13,13,0.90);
    }
}
// 7. section gallery
// 8. section delicious
.ar-delicious-list{
    .ar-delicious-item{
        display: flex;
        flex-direction: column;
        &--top{
            display: flex;
            justify-content: center;
            .ar-delicious-item-overlay{
                position: absolute;
                left: 8px;
                top: 8px;
                width: calc(100% - 16px);
                height: calc(100% - 16px);
                background-color: rgba(254,181,24,0.80);
                border: 8px solid transparent;
                border-radius: 50%;
                transition: all 500ms ease-in-out;
                opacity: 0;
                @include flex-center;
                .ar-social-media-list{
                    .ar-social-media-link{
                        color: $color-white;
                    }
                }
            }
        }
        &--bottom{
            .ar-delicious-item-position{
                font-size: rem(15px);
                color: $color-primary;
            }
        }
        &:hover{
            .ar-delicious-item--top{
                .ar-delicious-item-overlay{
                    opacity: 1;
                }
            }
        }
    }
}
// 9. section testimonial
.ar-testimonial-list{
    .ar-testimonial-item{
        .ar-testimonial-item-icon{
            font-size: rem(25px);
            color: $color-white;
        }
        .ar-testimonial-item-content{
            .text{
                position: relative;
                font-size: rem(18px);
                color: $color-white;
                line-height: 2em;
                max-width: 890px;
                margin: 0 auto;
                &::before, &::after{
                    display: inline-block;
                    font-family: "Font Awesome 5 Free";
                    font-size: rem(14px);
                    font-weight: 900;
                    line-height: 1;
                }
                &::before{
                    content: "\f10d";
                    padding-right: rem(8px);
                }
                &::after{
                    content: "\f10e";
                    padding-left: rem(8px);
                }
            }
            .name{
                font-family: $font-dancingscript;
                font-size: rem(29px);
                color: $color-primary;
            }
        }
    }
}
@include breakpoint(tablet){
    .ar-testimonial.ar-parallax-image.ar-parallax-image--small .ar-parallax{
        height: 550px;
    }
}
// 10.section our blog
@include breakpoint(tablet){
    .ar-blog{
        .ar-blog-list .ar-blog-item--top .ar-item-image-holder,
        .ar-blog-list .ar-blog-item--top .ar-item-image{
            width: 100%;
        }    
    }
}
// 11.section booking (form)
// 11.1 Home page 2
.ar-page-home-2{
    .ar-booking .ar-form .ar-booking-btn-submit{
        font-size: rem(12px);
        &:hover{
            color: $color-white;
        }
    }
}
// 11.2 Home page 3
.ar-page-home-3{
    .ar-booking .ar-booking--top .inner-box{
        border-bottom: 1px solid #e4e4e4;
    }
    .ar-booking .ar-booking-title{
        font-size: rem(22px);
        font-weight: 700;
        color: $color-gray-dark-3;
    }
    .ar-booking .ar-form .ar-booking-btn-submit{
        font-size: rem(12px);
        &:hover{
            color: $color-primary;
        }
    }
}
// 12.section chef info
.ar-section.ar-chef-info{
    background-image: url('../img/parallax-7.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    z-index: 5;
}
.ar-chef-info{
    .ar-chef-info-heading{
        .chef-name{
            font-family: $font-osward;
            font-size: rem(30px);
            color: $color-gray-dark-3;
        }
        .chef-pos{
            font-family: $font-dancingscript;
            font-size: rem(30px);
            font-weight: 700;
            color: $color-primary;
        }
    }
    .ar-social-media-list{
        .ar-social-media-link{
            background-color: $color-gray-dark-3;
        }
    }
    &--right{
        height: 100%;
        @include flex-horizontal-center;
        flex-direction: column;
    }
}