// 1. section banner
.ar-banner{
    .ar-banner-title{
        font-family: $font-osward;
        font-size: rem(48px);
        font-weight: 700;
        line-height: 1.3em;
        letter-spacing: 2px;
        text-align: center;
        text-transform: capitalize;
        color: $color-white;
    }
    .ar-banner-text{
        font-size: rem(14px);
        font-weight: 400;
        line-height: 1.8em;
        color: $color-white;
        text-align: center;
    }
    .ar-btn--default{
        max-width: 165px!important;
        height: 50px!important;
        line-height: 50px!important;
        padding: 0 2.25rem!important;
    }
    .ar-banner-btn{
        color: $color-gray-dark-3;
    }
    &.ar-custom-revolution{
        .tparrows.preview3{
            background: transparent;
            border: 2px solid $color-white;
            &::after{
                color: $color-primary;
                background: transparent;
            }
        }
        .tp-bullets.preview3 .bullet{
            width: 10px!important;
            height: 10px!important;
        }
        .tp-bullets.preview3 .bullet:hover,
        .tp-bullets.preview3 .bullet.selected{
            background:$color-primary!important;
        }
    }
}
// 2. section about
// 3. section parallax image
// 4. section service
.ar-service-list{
    .ar-service-item{
        .ar-service-item-title{
            .ar-text-des{
                font-size: rem(22px);
            }
        }
    }
}
// 5. section menu
.ar-menu{
    .ar-carousel{
        .owl-carousel{
            .owl-nav{
                bottom: -80px;
            }
        }
    }
    .ar-menu-box-right{
        .ar-menu-heading{
            .ar-text-des{
                font-size: rem(22px);    
            }
        }
    }
    .ar-menu-box{
        position: relative;
        border: 9px solid #bababa;
        &::before{
            position: absolute;
            content: '';
            left: 0px;
            top: 0px;
            width: 100%;
            height: 100%;
            background-color: rgba(13,13,13,0.80);
        }
        .ar-menu-box-inner{
            padding: rem(65px) rem(88px);
        }
    }
}
@include breakpoint(laptop){
    .ar-menu .ar-menu-box .ar-menu-box-inner{
        padding: rem(65px) rem(55px);
    }
}
@include breakpoint(tablet){
    .ar-menu .ar-carousel .owl-carousel .owl-nav{
        display: none!important;
    }
    .ar-menu .ar-menu-box{
        border: none;
        &::before{background-color: transparent;}
    }
    .ar-menu .ar-menu-box .ar-menu-box-inner{
        padding: 0;
    }
    .ar-menu .ar-menu-wrapper .col-menu + .col-menu{
        margin-top: rem(30px);
    }
}
.ar-menu-list{
    .ar-menu-item{
        display: flex;
        &--left{
            .ar-item-image-holder{
                .ar-item-image {
                    width: 85px;
                    height: 85px;
                }    
            }
        }
        &--right{
            @include flex-horizontal-center;
            flex-direction: column;
            flex: 1;
            margin-left: rem(25px);

            .ar-menu-item-name{
                display: flex;
                justify-content: space-between;
                margin-bottom: rem(6px);
                span{
                    font-size: rem(17px);
                    color: $color-white; 
                }
            }
            .ar-menu-item-des{
                font-size: rem(14px);
                color: #aaa;
            }
        }
        &.has-new{
            .ar-menu-item--left{
                & > a{
                    position: relative;
                    &::before{
                        content: 'New';
                        position: absolute;
                        left: 0;
                        top: 0;
                        width: 43px;
                        height: 17px;
                        line-height: 17px;
                        font-size: rem(11px);
                        color: $color-gray-dark-3;
                        text-align: center;
                        background-color: $color-primary;
                    }    
                }
            }
        }
        & + .ar-menu-item{
            margin-top: rem(20px);
        }
    }
}
// 6. section special dishes
.ar-sd{
    &-body-left{
        .inner-box{
            padding-right: rem(40px);
        }
    }
    &-body-right{
        .inner-box{
            padding-left: rem(40px);
        }
    }
}
.ar-sd-list{
    .ar-sd-item{
        display: flex;
        flex-direction: column;
        padding: rem(40px) 0;
        
        &:not(:last-child){
            border-bottom: 1px dashed #e5e5e5;
        }
        &--image{
            position: relative;
            @include flex-horizontal-center;
            .ar-item-image-holder{
                .ar-item-image{
                    width: 206px; height: 206px;
                    border-radius: 50%;
                }
            }
            .ar-sd-item-overlay{
                content: '';
                @include absCenter;
                display: block;
                width: 206px; height: 206px;
                line-height: 206px;
                text-align: center;
                border-radius: 50%;
                background-color: rgba(254,181,24,0.60);
                transition: all 500ms ease;
                opacity: 0;
                .price{
                    font-size: rem(24px);
                    font-weight: 700;
                    color: $color-white;
                }
            }
        }
        &--content{
            padding-top: rem(20px);
            text-align: center; 
        }
        &:hover{
            .ar-sd-item--image{
                .ar-sd-item-overlay{
                    opacity: 1;
                }
            }
        }
    }
}
@include breakpoint(laptop){
    .ar-sd{
        &-body-left{
            .inner-box{
                padding-right: 0;
            }
        }
        &-body-right{
            .inner-box{
                padding-left: 0;
            }
        }
    }
}
@include breakpoint_up(tablet){
    .ar-sd-list{
        .ar-sd-item{
            flex-direction: row;
            &--image{
                flex: 0 0 40%;
                max-width: 206px;
            }
            &--content{
                flex: 0 1 60%;
                max-width: 60%;
                padding-top: 0;
                text-align: left;
                margin-left: rem(20px);
            }
            &.right{
                .ar-sd-item--image{
                    order: 1;
                }
                .ar-sd-item--content{
                    margin-left: 0;
                    margin-right: rem(20px);
                }
            }
        }
    }
}
.ar-menu-table{
    background-image: url('../img/menu/bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    outline: 1px dashed #818181;
    outline-offset: rem(-30px);
    .ar-menu-table-inner{
        padding: rem(30px);
    }
    .ar-menu-table-title{
        font-size: rem(14px);
        color: $color-primary;
        height: 41px;
        line-height: 31px;
        background-image: url('../img/menu/title-bg.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }
    ul.menu-detail{
        & > li{
            display: flex;
            flex-direction: column;
            padding: 0 rem(15px);
            & + li{
                margin-top: rem(26px);
            }
        }
    }
    .contact{
        span{
            font-family: $font-dancingscript;
            font-size: rem(25px);
            color: $color-primary;
        }
    }
}
// 7. section gallery
.ar-gallery{
    .ar-gallery-inner{
        padding: 0 rem(10px);
    }
}
.ar-gallery-list{
    .ar-gallery-item{
        position: relative;
        overflow: hidden;
        .ar-gallery-item-title{
            position: absolute;
            left: 0; right: 0;
            bottom: -100%;
            padding: rem(50px);
            transition: all 500ms ease-in-out;
        }
        &:hover{
            .ar-gallery-item-title{
                bottom: 0;
            }
        }
        &::before{
            position: absolute;
            content: '';
            left: 0px;
            top: 0px;
            width: 100%;
            height: 100%;
            background: linear-gradient(to top,rgba(0,0,0,0),rgba(0,0,0,0.6));
        }
    }
}
// 8. section delicious
.ar-delicious-list{
    .ar-delicious-item{
        display: flex;
        flex-direction: column;
        &--top{
            display: flex;
            justify-content: center;
            .ar-delicious-item-overlay{
                position: absolute;
                left: 8px;
                top: 8px;
                width: calc(100% - 16px);
                height: calc(100% - 16px);
                background-color: rgba(254,181,24,0.80);
                border: 8px solid transparent;
                border-radius: 50%;
                transition: all 500ms ease-in-out;
                opacity: 0;
                @include flex-center;
                .ar-social-media-list{
                    .ar-social-media-link{
                        color: $color-white;
                    }
                }
            }
        }
        &--bottom{
            .ar-delicious-item-position{
                font-size: rem(15px);
                color: $color-primary;
            }
        }
        &:hover{
            .ar-delicious-item--top{
                .ar-delicious-item-overlay{
                    opacity: 1;
                }
            }
        }
    }
}
// 9. section testimonial
.ar-testimonial-list{
    .ar-testimonial-item{
        .ar-testimonial-item-icon{
            font-size: rem(25px);
            color: $color-white;
        }
        .ar-testimonial-item-content{
            .text{
                position: relative;
                font-size: rem(18px);
                color: $color-white;
                line-height: 2em;
                max-width: 890px;
                margin: 0 auto;
                &::before, &::after{
                    display: inline-block;
                    font-family: "Font Awesome 5 Free";
                    font-size: rem(14px);
                    font-weight: 900;
                    line-height: 1;
                }
                &::before{
                    content: "\f10d";
                    padding-right: rem(8px);
                }
                &::after{
                    content: "\f10e";
                    padding-left: rem(8px);
                }
            }
            .name{
                font-family: $font-dancingscript;
                font-size: rem(29px);
                color: $color-primary;
            }
        }
    }
}
@include breakpoint(tablet){
    .ar-testimonial.ar-parallax-image.ar-parallax-image--small .ar-parallax{
        height: 550px;
    }
}
// 10.section our blog
.ar-blog-list{
    .ar-blog-item{
        &--top{
            @include flex-horizontal-center;
        }
        .ar-blog-item-meta{
            ul{
                @include flex-vertical-center;
                & > li + li{
                    margin-left: rem(10px);
                }
                & > li{
                    a{
                        font-size: rem(14px);
                    }
                    &.date{
                        a{
                            color: $color-gray-dark;
                            &:hover{
                                color: $color-primary;
                            }
                        }
                    }
                    &.name{
                        .small{
                            font-size: rem(12px);
                            color: $color-gray-dark;
                            margin-right: rem(5px);
                        }
                        a{
                            color: $color-primary;
                            &:hover{
                                color: $color-gray-dark-3;
                            }
                        }
                    }
                }
            }
        }
        .ar-blog-item-info{
            @include flex-vertical-center;
            justify-content: space-between;
            .ar-btn-read-more{
                color: $color-gray-dark-3;
                font-weight: 700;
                &:hover{
                    color: $color-primary;
                }
            }
        }
    }
}
@include breakpoint(tablet){
    .ar-blog-list .ar-blog-item--top .ar-item-image-holder,
    .ar-blog-list .ar-blog-item--top .ar-item-image{
        width: 100%;
    }
}