//- Home page 1
mixin about__text
    .ar-about-heading
        .ar-heading-wrapper
            h2.ar-heading.ar-heading--style-1.order great new disher
            h3.ar-heading.ar-heading--style-2.order Discover Our Restaurant
    .ar-about-body
        .mb-small
            p.ar-text-paragraph
                | A cappuccino is an Italian coffee drink which is traditionally prepared with espresso, hot milk and steamed milk foam. Coffee makes up a very important part of the Italian gastronomic culture. Cream may be used instead of milk and is often topped with cinnamon.
            p.ar-text-paragraph
                | It is typically smaller in volume than a caffe latte, with a thicker layer of micro foam. in this context referring to the color of the beverage when milk
        a.ar-btn.ar-btn--default.ar-btn--primary(href="#") Read more

-
    var list_carousel = [
        {src: 'img/slide-1.jpg'},
        {src: 'img/slide-1.jpg'},
        {src: 'img/slide-1.jpg'}
    ];

mixin about__carousel
    div(class="wow fadeInRight")
        // .ar-carousel
        .ar-carousel
            .owl-carousel
                each item,index in list_carousel
                    .slide
                        img(src="img/slide-1.jpg", alt="about-image-slide-" + (index+1))

//- Home page 2
mixin about__image
    div(class="wow fadeInLeft")
        .ar-about-block
            .ar-item-image-holder
                img.ar-item-image.img-fluid(src="img/dishes.png", alt="about-image-block")

mixin about__text__meeting
    .ar-about-heading
        .ar-heading-wrapper
            h2.ar-heading.ar-heading--style-1.order Gorgeous Halls
            h3.ar-heading.ar-heading--style-2.order Find Perfect Place For Any Meeting
    .ar-about-body
        .mb-small
            p.ar-text-paragraph
                | sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
        .mb-small
            h4.ar-text-des.ar-text-des--black.mb-xsmall Seat Up 155 Company Meatings
            p.ar-text-paragraph
                | sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
        .mb-small
            h4.ar-text-des.ar-text-des--black.mb-xsmall Traditional Home hall
            p.ar-text-paragraph
                | sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
        a.ar-btn.ar-btn--default.ar-btn--primary(href="#") Read more

mixin about__image__meeting
    .ar-about-block
        .row
            .col-md-down-mt.col-image.col-sm-6.col-md-12.col-lg-6
                div(class="wow fadeIn", data-wow-delay="0ms")
                    .ar-item-image-holder
                        img.ar-item-image.img-fluid(src="img/meeting-1.jpg", alt="about-image-block-1")
            .col-md-down-mt.col-image.col-sm-6.col-md-12.col-lg-6
                div(class="wow fadeIn", data-wow-delay="300ms")
                    .ar-item-image-holder
                        img.ar-item-image.img-fluid(src="img/meeting-2.jpg", alt="about-image-block-2")

//- About page
mixin about__about__image
    .ar-about-block
        .ar-list-block.ar-column-3
            .item.col-image
                div(class="wow fadeIn", data-wow-delay="0ms")
                    .ar-item-image-holder
                        img.ar-item-image.img-fluid(src="img/about-1.jpg", alt="about-image-block-1")
            .item.col-image
                div(class="wow fadeIn", data-wow-delay="300ms")
                    .ar-item-image-holder
                        img.ar-item-image.img-fluid(src="img/about-2.jpg", alt="about-image-block-2")
            .item.col-image
                div(class="wow fadeIn", data-wow-delay="600ms")
                    .ar-item-image-holder
                        img.ar-item-image.img-fluid(src="img/about-3.jpg", alt="about-image-block-3")

mixin about(left,right)
    section.ar-section.ar-about
        .ar-full-width-wrapper
            .container
                .ar-about-wrapper
                    .ar-list-block.ar-column-2
                        .item
                            .ar-about-left
                                +#{left}
                        .item
                            .ar-bout-right
                                +#{right}