include ../mixin

-
    var list_menu = [
        {src: 'img/menu/dining-item-1.jpg', name: 'Gosh Egg-White Omelet', price: '$35.40', des: 'Mussel with tomato sauce, wine'},
        {src: 'img/menu/dining-item-2.jpg', name: 'Powered Turkey Meatballs', price: '$50.00', des: 'Mussel with tomato sauce, wine'},
        {src: 'img/menu/dining-item-3.jpg', name: 'Creamy Feta Salad Dressing', price: '$85.20', des: 'Mussel with tomato sauce, wine'},
        {src: 'img/menu/dining-item-4.jpg', name: 'Roasted Red Pepper Hummus', price: '$50.20', des: 'Mussel with tomato sauce, wine'}
    ];

-
    var list_carousel = [
        {src: 'img/chicken.png'},
        {src: 'img/chicken.png'},
        {src: 'img/chicken.png'}
    ];
mixin carousel
    .ar-carousel.ar-carousel-image-center(data-owl-show="1", data-owl-nav="true", data-owl-dots="false")
        .owl-carousel
            each item,index in list_carousel
                .slide
                    img(src= item.src, alt="menu-image-slide-"+(index+1))

mixin menu
    .ar-menu-box
        .ar-menu-box-inner
            .ar-menu-box-wrapper
                .row
                    .col-sm-down-mt.col-md-5
                        .ar-menu-box-left
                            .ar-menu-heading.mb-medium
                                h2.ar-heading.ar-heading--style-1 <span class="c-white">Our</span> <br> Delicous <span class="c-white">Menu</span>
                                p.ar-text-info.ar-text-info--white Best offers from the house chef
                            .ar-menu-body
                                +carousel
                    .col-sm-down-mt.col-md-7
                        .ar-menu-box-right
                            .ar-menu-heading.mb-small
                                h3.ar-text-des.ar-text-des--white Our Best Chicken Recipes
                            .ar-menu-body
                                +list_menu(list_menu,{name: "row", color: "white"})

+parallax('img/parallax-2.jpg','big','','ar-menu')
    .ar-menu-wrapper.w-100
        +menu