section.ar-section.ar-parallax-image.ar-parallax-image--small
    .ar-full-width-wrapper
        .ar-parallax
            .ar-parallax-wrap.ar-parallax-wrap--box.full-width
                .ar-parallax-box
                    h2.ar-heading.ar-heading--style-1 Healthy Fresh And Hot Dishes.
                    h4.ar-heading.ar-heading--style-3 Best offers from the house chef.
            .ar-parallax-wrap.ar-parallax-wrap--holder(style= "background-image: url('img/parallax.jpg')")


