-
    var list_sd = [
        {src: 'img/menu/special-1.jpg', price: '$50.35', title: 'Honey Strawberry', des: 'Vivamus hendrerit arcu sed erat molestie vehicula. Sed auctor nequeu tellus rhoncus ut eleifend nibh porttitor ut in nulla enim hasellus mirolestie magna non lorem ipsum dolor site amet.', type: 'left'},
        {src: 'img/menu/special-2.jpg', price: '$50.35', title: 'Honey Strawberry', des: 'Vivamus hendrerit arcu sed erat molestie vehicula. Sed auctor nequeu tellus rhoncus ut eleifend nibh porttitor ut in nulla enim hasellus mirolestie magna non lorem ipsum dolor site amet.', type: 'right'},
    ];

mixin list_sd(list)
    .ar-sd-list
        each item,index in list
            div(class="ar-sd-item " + item.type)
                .ar-sd-item--image
                    .ar-item-image-holder
                        img.ar-item-image(src= item.src, alt="special-dishes-image"+"-"+(index+1))
                        .ar-sd-item-overlay
                            span.price= item.price
                .ar-sd-item--content
                    .ar-sd-item-title.mb-xsmall
                        h4.ar-text-des.ar-text-des--black= item.title
                    .ar-sd-item-des.mb-small
                        p.ar-text-paragraph= item.des
                    a.ar-btn.ar-btn--link(href="#") read more


mixin menu_detail
    ul.sf-menu.menu-detail.ar-text-info.ar-text-info--white
        li
            span <time>Monday - Friday</time>
            span <time datetime="09:00">9:00 am</time> - <time datetime="23:00">23:00 pm</time>
        li
            span <time>Saturday</time>
            span <time datetime="10:00">10:00 am</time> - <time datetime="22:00">22:00 pm</time>
        li
            span <time>Sunday</time>
            span <time datetime="10:00">10:00 am</time> - <time datetime="21:00">21:00 pm</time>
        li
            span Note: Arctica Restaurant is closed on holidays.

mixin menu
    .ar-menu-table
        .ar-menu-table-inner
            .ar-menu-table-wrapper.text-center
                .ar-menu-table-heading
                    .mb-big
                        h3.ar-menu-table-title Opening Hours
                .ar-menu-table-body
                    .mb-big
                        +menu_detail
                    .mb-big
                        .contact
                            span 0844.335.1211

section.ar-section.ar-sd
    .ar-full-width-wrapper
        .container
            .ar-sd-wrapper
                .ar-sd-heading
                    .ar-heading-wrapper.text-center
                        h2.ar-heading.ar-heading--style-1 Our Special Dishes.
                        h3.ar-heading.ar-heading--style-2 We Create Delicous Memory
                .ar-sd-body
                    .row
                        .col-md-4
                            .ar-sd-body-left
                                .inner-box
                                    +menu
                        .col-md-8
                            .ar-sd-body-right
                                .inner-box
                                    +list_sd(list_sd)

