include ../mixin
-
    var list_carousel = [
        {text: 'We enjoy sharing the projects and posts we make just as much as we enjoy creating them. consectetur adipiscing elit, sed do eiusmod tempor incididunt Sit back & take a moment to browse through some of our recent completed work.', name: 'Stevan Smith'},
        {text: 'We enjoy sharing the projects and posts we make just as much as we enjoy creating them. consectetur adipiscing elit, sed do eiusmod tempor incididunt Sit back & take a moment to browse through some of our recent completed work.', name: 'Stevan Smith'},
        {text: 'We enjoy sharing the projects and posts we make just as much as we enjoy creating them. consectetur adipiscing elit, sed do eiusmod tempor incididunt Sit back & take a moment to browse through some of our recent completed work.', name: 'Stevan Smith'}
    ];

mixin carousel
    .ar-carousel(data-owl-show="1")
        .owl-carousel.ar-testimonial-list
            each item in list_carousel
                .slide
                    .ar-testimonial-item.text-center
                        .ar-testimonial-item-icon.mb-small
                            i.fas.fa-quote-left
                        .ar-testimonial-item-content
                            .mb-small
                                p.text= item.text
                            span.name= item.name

+parallax('img/parallax-3.jpg','small','','ar-testimonial')
    .ar-testimonial-wrapper.w-100
        +carousel