doctype html
html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1")
    // Favicon
    link(rel="icon" type="image/png" sizes="32x32" href="img/favicon.ico")
    // Page Title
    title= title
    // Font Icon
    link(rel="stylesheet", href="css/font/css/all.min.css")
    // Plugin CSS
    link(rel="stylesheet", href="lib/css/bootstrap.min.css")
    block head_end
	
  body(class= bodyClass)
    block content
		
    // JQuery
    script(src="lib/js/jquery-3.3.1.min.js")
    // Plugin JS
    script(src="lib/js/popper.min.js")
    script(src="lib/js/bootstrap.min.js")
    script(src="js/collapse.js")
    block body_end