main.ar-main
    article.ar-page
        // START: banner
        include ../banner
        // START: about
        include ../about
        // START: parallax
        include ../parallax
        // START: service
        include ../service
        // START: menu
        include ../menu
        // START: speacial dishes
        include ../special-dishes
        // START: gallery
        include ../gallery
        // START: delicious
        include ../delicious
        // START: testimonial
        include ../testimonial
        // START: out blog
        include ../our-blog
    include ../../go-to-top