include ../about
include ../../mixin

main.ar-main
    article.ar-page
        // START: banner
        include ../banner
        // START: about
        +about('about__text','about__carousel')
        // START: parallax
        +parallax('img/parallax.jpg','small','full-width')
        // START: service
        include ../service
        // START: menu
        include ../menu
        // START: speacial dishes
        include special-dishes
        // START: gallery
        include ../gallery
        // START: delicious
        include ../delicious
        // START: testimonial
        include ../testimonial
        // START: out blog
        include ../our-blog
    include ../../go-to-top