.ar-social-media-list{

    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    
    .ar-social-media-item{
        & + .ar-social-media-item{
            margin-left : rem(10px);
        }
    }

    .ar-social-media-link{
        display: block;
        font-size: rem(13px);
        width: 40px; height: 40px;
        line-height: 40px;
        color: $color-gray-light-3;
        background-color: transparent;
        text-align: center;
        &:hover{
            color: $color-white;
        }
    }
}