include ../about
include ../../mixin

main.ar-main
    article.ar-page
        // START: about
        +about('about__image','about__text')
        // START: parallax
        +parallax('img/parallax-4.jpg','small','full-width')
        // START: speacial dishes
        include special-dishes

    include ../../go-to-top